<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img class="logo" src="../../../../assets/images/logo.png" alt="logo">
  <button (click)="onToggleClick()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <div id="nav-icon1" [ngClass]='{"open":open}'>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Company</a>
      </li>
      <li class="nav-item">
        <a class="nav-link app underline">NasNav App</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <app-rounded-button class="lang" id="lang" text="English" image="../../../../assets/images/En.png" color="#576266"
        backgroundColor="#fff"></app-rounded-button>
      <app-rounded-button text="Request" image="../../../../assets/images/req.png" color="#fff" backgroundColor="#0eb2e8"></app-rounded-button>
    </form>
  </div>
</nav>