:host {
    margin-top: 36px;
    height: 50px;
    padding: 0 102px;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}

.logo {
    min-height: 20px;
    margin: auto 0px;
}

.lang>*,
.req>*,
.labels>* {
    align-self: center;
    cursor: pointer;
}

.labels {
    display: flex;
    justify-content: space-around;
    color: #fff;
    flex-grow: 1;
    font-size: 19px;
    line-height: 31px;
    font-weight: 300;
    height: 50px;
}

::ng-deep .lang>.paragraph>.icon {
    width: 30px !important;
    height: 14px !important;
}

:host ::ng-deep app-rounded-button>.paragraph {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.29);
    font-family: "Proxima Nova Light";
}

:host ::ng-deep app-rounded-button>.paragraph {
    -webkit-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -ms-transition: all 500ms linear;
    transition: all 500ms linear;
}

:host ::ng-deep app-rounded-button>.paragraph:hover {
    background-color: #0eb2e8 !important;
    color: #fff !important;
}

:host ::ng-deep app-rounded-button.req>.paragraph:hover {
    background-color: #fff !important;
    color: #0eb2e8 !important;
    > img{
        content: url("../../../../assets/images/pen-icon-hover.png");
    }
}

nav {
    width: 100%;
    background-color: transparent !important;
}

.navbar-nav {
    flex: 1;
    justify-content: space-around;
    * {
        color: #fff;
    }
}

.app {
    color: rgb(14, 232, 214) !important;
    text-decoration: underline !important;
    ;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(14, 232, 214);
    cursor: pointer;
}

.fa-navicon {
    color: #fff;
}

.navbar-toggler {
    outline-width: 0px;
    border-width: 0px;
}

@media(max-width:1300px) {
    :host {
        padding: 0 2%;
        height: max-content;
    }
    :host ::ng-deep app-rounded-button>p {
        margin-left: 0px !important;
    }
    .form-inline>* {
        margin: 10px 0;
    }
}

@media(max-width:990px) {
    form {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media(max-width:880px) {
    :host {
        flex-direction: column;
        align-items: center;
        height: max-content
    }
    .labels {
        width: 100%;
        flex-shrink: 0;
        height: max-content;
        flex-direction: row;
        justify-content: space-around;
    }
    .form-inline {
        display: flex;
        flex-direction: column;
        align-items: flex-start
    }
    app-rounded-button {
        margin: 5px 0;
    }
}

@media(max-width:480px) {
    :host {
        margin-top: 0px;
    }
}

#nav-icon1 {
    width: 30px;
    height: 30px;
    position: relative;
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon1 span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top: 0px;
}

#nav-icon1 span:nth-child(2) {
    top: 9px;
}

#nav-icon1 span:nth-child(3) {
    top: 18px;
}

#nav-icon1.open span:nth-child(1) {
    top: 9px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#nav-icon1.open span:nth-child(3) {
    top: 9px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}