@font-face {
    font-family: Proxima Nova Bold;
    src: url("Proxima-Nova-Bold.otf")  format("truetype");
}

@font-face {
    font-family: Proxima Nova Light;
    src: url("Proxima-Nova-Light.otf")  format("truetype");
}

@font-face {
    font-family: Proxima Nova Regular;
    src: url("Proxima-Nova-Regular.otf")  format("truetype");
}

@font-face {
    font-family: Proxima Nova Semibold;
    src: url("Proxima-Nova-Semibold.otf")  format("truetype");
}