<div class="main-container">
    <img src="../../../../assets/images/blue-logo.png" alt="blue-logo">


    <img src="../../../../assets/images/about-mobile-bg.png" alt="tablet-image" class="mobile-view-only">
    <p class="about-text">
        We use proven technologies, combining them with new concepts and techniques wherever possible. In this way we
        rapidly develop
        tailor-made solutions which incubates location-based and retailers services technologies.
    </p>

    <div class="animated">
        <img src="../../../../assets/images/animated-bg.png" id="animated">
    </div>
</div>