<div class="main-container">
  <div class="first-paragraph">
    <span class="header">NasNav</span>
    <span>
      is the Next Generation
    </span>
    <p>
      of big data for businesses!
    </p>
  </div>
  <div class="mobile-view-only">
    <img src="../../../../assets/images/tablet-viewpng.png" alt="tablet-image" class="mobile-view-only">
  </div>
  <div class="second-paragraph">
    <p>
      Our services are not to be reckoned with upload Producs can sliping in
    </p>
    <p>
      your home and see theyou an edge over the online competitors.
    </p>
  </div>


  <div class="btn-container">
    <app-rounded-button id="products" text="Producs" image="../../../../assets/images/products.png" color="#4753ff;"
      backgroundColor="#fff"></app-rounded-button>

    <app-rounded-button [ngClass]="{'visible':reqVisible}" id="request" text="Request" image="../../../../assets/images/req.png"
      color="#fff" backgroundColor="#0eb2e8"></app-rounded-button>
  </div>


</div>