html {
    min-height:100%;
    height: 100%;
    overflow-y:hidden;
    width: 100%;
}


body {
    height: 100%;   
    overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
    margin: 0px;  /*removes default style*/
    display: flex;  /*enables flex content for its children*/
    box-sizing: border-box;
    flex-direction: column;  /*places the left and right headers above the bottom content*/
    font-family: "Proxima Nova Regular";
    overflow-y: hidden;
}


*  {
    margin: 0px;
    padding: 0px;
}